<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="h5 my-0 me-md-auto fw-normal text-dark text-decoration-none" href="{{ path('home') }}">Basic-sorter</a>
    <nav class="my-2 my-md-0 me-md-3">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('logout') }}" class="btn btn-outline-danger">Logout</a>
    {% else %}
        <a class="p-2 text-dark" href="{{ path('admin.index') }}">Admin</a>
    {% endif %}
    </nav>
    {# <form class="row g-3">
    <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-outline-primary mb-3">Search</button>
    </div>
    </form> #}
    <a href="" class="btn btn-outline-primary">Search</a>
</header>